@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
  --font-4xl: 3.157rem;
  --font-3xl: 2.369rem;
  --font-2xl: 1.777rem;
  --font-xl:  1.333rem;
  --font-base:1rem;
  --font-xs:  .75rem;
  --font-2xs: .563rem;

  --mobile: 375px;
  --mobile-msg-gap: 10px;
  --desktop-msg-gap: 16px;
  --desktop: 1440px;

  
  /* Primary Colors */
  --primary-blue: hsl(238, 40%, 52%);
  --primary-red: hsl(358, 79%, 66%);
  --primary-blue-light: hsl(239, 57%, 85%);
  --primary-red-light: hsl(357, 100%, 86%);
  --primary-light-blue-filter: invert(84%) sepia(2%) saturate(6294%) hue-rotate(200deg) brightness(94%) contrast(100%);
  --primary-light-red-filter: invert(74%) sepia(4%) saturate(2654%) hue-rotate(309deg) brightness(104%) contrast(110%);

  /* Neutral Colors */
  --neutral-blue-dark: hsl(212, 24%, 26%);
  --neutral-gray-blue: hsl(211, 10%, 45%);
  --neutral-gray: hsl(223, 19%, 93%);
  --neutral-gray-light: hsl(228, 33%, 97%);
  --neutral-white: hsl(0, 0%, 100%);
}

/* ------------Browser Style Reset--------------- */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ------------Browser Style Reset--------------- */



body {
  background-color: var(--neutral-gray-light);
  font-family: 'Rubik', 'Courier New', Courier, monospace;
}

main {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 700px;
  gap: var(--desktop-msg-gap);
}


/* ------------Reusable components--------------- */
.container-style {
  /* width: 600px; */
  background-color: var(--neutral-white);
  /* margin: 8px 0; */
  text-align: left;
  border-radius: 5px;
  padding: var(--desktop-msg-gap);
  /* border: 3px solid black; */
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-white);
  background-color: var(--primary-blue);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.btn:hover {
  /* background-color: var(--primary-blue-light); */
  opacity: .5;
}
textarea {
  display: block;
  resize: none;
  border: 1px solid var(--neutral-gray);
  border-radius: 5px;
}
textarea:focus {
  outline: none !important;
  border-color: var(--primary-blue);
}
.center {
  margin: auto;
}

/* ------------Comment Style--------------- */
.comment-container {
  display: grid;
  grid-template-columns: max-content repeat(3, auto);
  grid-template-rows: 38px max-content;
  grid-gap: var(--desktop-msg-gap);
  align-items: center;
}

.child-container {
  display: flex; 
  flex-direction: column;
  border-left: 2px solid var(--neutral-gray);
  padding-left: 35px;
  gap: var(--desktop-msg-gap);
  margin-left: 35px;
  margin-top: var(--desktop-msg-gap);
}
.child-container > .child-container {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

/* ------------Comment Vote Section Style--------------- */
section.vote {
  text-align: center;
  font-size: var(--font-xl);
  background-color: var(--neutral-gray-light);
  border-radius: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-weight: 500;
  align-self: flex-start;
}
.vote > * {
  color: var(--primary-blue);
  fill: var(--neutral-gray-blue);
}
.vote-btn {
  padding: 7px 12px;
}

.vote-btn:hover {
  cursor: pointer;
}


/* ------------Comment Header Section Style--------------- */
section.header {
  grid-column-start: 2;
  display: inline-flex;
  align-items: center;
}
.header-avatar {
  padding-right: var(--desktop-msg-gap);
}
.header-avatar img {
  width: 35px;
}
h2.header-name {
  display: inline;
  font-size: var(--font-base);
  margin: 0;
  font-weight: 500;
  padding-right: var(--desktop-msg-gap);
}
.header-you {
  background-color: var(--primary-blue);
  font-weight: 500;
  color: var(--neutral-white);
  padding: 5px;
  border-radius: 3px;
  font-size: var(--font-xs);
  margin-right: var(--desktop-msg-gap);
}
.header-time {
  color: var(--neutral-gray-blue);
}

/* ------------Comment Edit Section Style--------------- */
section.edit {
  grid-column-end: 5;
  justify-self: right;
  font-weight: 500;
  color: var(--primary-blue);
}
.edit svg {
  margin-right: 5px;
}
.edit span {
  cursor: pointer;
}
.edit-delete {
  padding-right: var(--desktop-msg-gap);
  color: var(--primary-red);
}

.edit span:hover {
  opacity: .50;
}

/* .edit-edit:hover {
  filter: invert(84%) sepia(2%) saturate(6294%) hue-rotate(200deg) brightness(94%) contrast(100%);
} 
 */

/* ------------Comment Message Section Style--------------- */
section.content {
  grid-column: 2 / span 3;
  grid-row-start: 2;
  align-self: flex-start;
  color: var(--neutral-gray-blue);
}

.message {
  white-space: pre-line;
}

.content-update-btn {
  margin-top: var(--desktop-msg-gap);
  float: right;
}

/* ------------Post New Comment Style--------------- */
.post-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.post-avatar {
  width: 40px;
}

.post-form {
  flex-grow: 1;
  padding: 0 var(--desktop-msg-gap);
}

/* ------------Delete Confirmation --------------- */
.delete-confirm-container {
  padding: 25px;
}
.delete-confirm-container h2 {
  font-weight: 700;
  font-size: var(--font-xl);
}
.delete-confirm-container p {
  color: var(--neutral-gray-blue);
  padding: 25px 0;
  font-size: var(--font-base);
  line-height: 1.3
}
.delete-confirm-btns {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
}
.delete-confirm-btns span {
  width: auto;
  padding: 15px 20px;
  font-size: .85em;
  flex: 1 1 100%;
}

.delete-no {
  background-color: var(--neutral-gray-blue);
}
.delete-yes {
  background-color: var(--primary-red);
}


/* ------------Mobile Layout---------------- */

@media only screen and (max-width: 375px) {
  main {
    gap: var(--mobile-msg-gap);
  }
  
  .comment-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto max-content auto;
    grid-gap: var(--mobile-msg-gap);
    margin: 0 var(--mobile-msg-gap);
  }

  .child-container {
    display: flex; 
    flex-direction: column;
    border-left: 2px solid var(--neutral-gray);
    padding-left: 0;
    gap: var(--mobile-msg-gap);
    margin-top: var(--mobile-msg-gap);
    margin-left: var(--mobile-msg-gap);
  }
  .child-container > .child-container {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
  }

  /* -----Vote Section Style------- */
  section.vote {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: var(--font-base);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
  }
  .vote > * {
    padding: 10px;
  }

  .vote-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* ------------Comment Header Section Style--------------- */
  section.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .header-avatar {
    padding-right: var(--mobile-msg-gap);
  }

  h2.header-name {
    padding-right: var(--mobile-msg-gap);
  }
  .header-you {
    margin-right: var(--mobile-msg-gap);
  }

  /* ------------Comment Edit Section Style--------------- */
  section.edit {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: flex-end;
  }
  .edit-delete {
    padding-right: var(--mobile-msg-gap);
    color: var(--primary-red);
  }

  /* ------------Comment Message Section Style--------------- */
  section.content {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .content-update-btn {
    margin-top: var(--mobile-msg-gap);
  }

  /* ------------Post New Comment Style--------------- */
  .post-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--mobile-msg-gap);
  }
  .post-avatar {
    width: 35px;
    order: 2;
  }
  .post-btn {
    order: 3;
  }

  .post-form {
    flex-grow: 1;
    flex-basis: 100%;
    order: 1;
    padding: 0;
  }

  /* ------------Post New Comment Style--------------- */
  .post-container {
    margin: 0 var(--mobile-msg-gap);
  }

  /* ------------Delete Confirmation --------------- */
  
 /*  .delete-confirm-btns span {
    width: auto;
    padding: 15px 25px;
    display: flex;
  }

  .delete-confirm-container p {
    color: var(--neutral-gray-blue);
    padding: 25px 0;
    font-size: var(--font-base);
    line-height: 1.3
  }
 
  .delete-confirm-btns span {
    padding: 5px 10px;
  
  }
  
  .delete-no {
    background-color: var(--neutral-gray-blue);
  }
  .delete-yes {
    background-color: var(--primary-red);
  } */
}