main {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 600px;
  border: 1px solid black;
}

.msg-container {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  background-color: aqua;
  margin: 15px 0;
  text-align: left;
}
main div {
  padding: 10px;
}
.content {
  width: 100%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-header-edits span {
  padding: 0 5px;
}

.vote {
  border-right: 1px solid black;
  text-align: center;
  font-size: large;
}
.vote > * {
  padding: 5px;
}
.voters {
  border: 1px solid black;
  border-radius: 30%;
  padding: 5px;
}
.voters:hover {
  background-color: limegreen;
}

.message {
  white-space: pre-line;
}